---
title: パッチの作り方・当て方・戻し方
layout: archive
---

<h2><a name="make">パッチの作り方</a></h2>

<h3>ファイル名</h3>
<p>
	パッケージ-バージョン-プログラム[-修正名][-日付].diff<br>
	[例] koffice-2.0.1-kpresenter-xim-20001207.diff
</p>

<h3>diff</h3>
<p>
	unified diff 形式を使用してください。<br>
	diff を取る際はパスにパッケージ名が含まれるようにお願いします。
</p>

<h3>作り方 1</h3>
<p>
	ファイルの修正が少ない場合、<br>
	元のファイルを *.orig にコピーして diff を取ります。
</p>
<pre>
diff -u koffice-2.0/kpresenter/ktextedit.cc.orig koffice-2.0/kpresenter/ktextedit.cc &gt; koffice-2.0.1-kpresenter-xim-20001207.diff
</pre>

<h3>作り方 2</h3>
<p>
	修正が大規模になる場合、<br>
	オリジナルを *.orig というディレクトリにコピーして比較します。
</p>
<pre>
diff -ur koffice-2.0.orig/kpresenter koffice-2.0/kpresenter &gt; koffice-2.0.1-kpresenter-xim-20001207.diff
</pre>


<h2><a name="apply">パッチの当て方</a></h2>

<p>ソースを展開したディレクトリから当てます。</p>
<pre>
bzip2 -dc koffice-2.0.tar.bz2 | tar xvf -
patch -p0 &lt; koffice-2.0.1-kpresenter-xim-20001207.diff
</pre>

<p>※エラーになる場合は patch をバージョンアップしてみてください。</p>


<h2><a name="reverse">パッチの戻し方</a></h2>

<p>
	当てたパッチを戻すには -R オプションを使用します。
</p>
<pre>
patch -p0 -R &lt; koffice-2.0.1-kpresenter-xim-20001207.diff
</pre>
