---
title: FAQ/10 - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">KDE 3.0 と 3.5 でのプロファイルの共有  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F10#e8508b97" id="e8508b97" title="e8508b97">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.x</li>
<li>アプリケーション: 指定無し</li>
<li>作成日: 2007-04-14 (土) 14:01:59</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F10#a0cde24d" id="a0cde24d" title="a0cde24d">†</a></h3>
<p>ドメインを構築している環境にてKDE 3.0 と 3.5 と異なるコンピュータでデスクトップを共有しているのですがゴミ箱の共有がうまくいきません。両方の環境にて同じゴミ箱を使用するのにはどうしたらいいのでしょうか。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F10#m34d2579" id="m34d2579" title="m34d2579">†</a></h3>
<div class="counter">
Counter:   22,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F10#m6a53a4b" id="m6a53a4b" title="m6a53a4b">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/10"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="869995228ab367e86090f31614ec7513"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
