---
title: FAQ/7 - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">googleの検索ページで日本語入力モードにならない  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F7#pb89a30a" id="pb89a30a" title="pb89a30a">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.1.x</li>
<li>アプリケーション: Konqueror</li>
<li>作成日: 2003-09-17 (水) 10:18:04</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F7#ta4e18aa" id="ta4e18aa" title="ta4e18aa">†</a></h3>
<p>KDE3.1.1 の環境なのですが、googleの検索ページ<a href="http://www.google.co.jp" rel="nofollow">http://www.google.co.jp</a> を表示させた直後にSHIFT+Space で日本語入力のモードになりません。英数字の入力を１文字でも行えば、日本語入力モードになります。なぜでしょうか？</p>
<p>ちなみに、Excite, yahoo等ではおこりません。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F7#z52ce9bf" id="z52ce9bf" title="z52ce9bf">†</a></h3>
<p>入力そのものができないのは、入力スタイルがOn The Spotとなっているためでしょう。Over The Spotに変更すれば、入力ができるようになるはずです。ただ、その場合も確定前の文字列(preedit)が表示されないため、まともに使うためには英数字を入力する必要があります。</p>
<p>Mozillaなどの他のブラウザで問題がないことから、このような挙動となっているのは、KDE側の問題ではないかと思われます。具体的には、KDEのHTMLレンダリングエンジンであるKHTMLか、Konqueror自体の問題ではないかと考えられます。関連するバグがすでにレポートされています（<a href="http://bugs.kde.org/show_bug.cgi?id=52685" rel="nofollow">Bug52685</a>）。</p>
<p><br/>
なお、入力スタイルの変更は、<a href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F1" title="FAQ/1 (1588d)">FAQ/1</a>を参考にしてください。</p>
<div class="counter">
Counter:   32,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F7#k5867ad8" id="k5867ad8" title="k5867ad8">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/7"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="be6f668e6d75d3a5cf63ca03152c08dd"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
