---
title: FrontPage - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">JKUG Wiki  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FrontPage#y030850e" id="y030850e" title="y030850e">†</a></h2>
<p>この<a href="http://www.kde.gr.jp/pukiwiki/index.php?PukiWiki" title="PukiWiki (2751d)">PukiWiki</a>では、<a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A4%A5%F3%A5%B9%A5%C8%A1%BC%A5%EB%CA%FD%CB%A1" title="インストール方法 (43d)">QtおよびKDEのインストールについての情報</a>、<a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A2%A5%D7%A5%EA%A5%B1%A1%BC%A5%B7%A5%E7%A5%F3%A4%CE%BE%D2%B2%F0" title="アプリケーションの紹介 (559d)">様々なアプリケーションについての説明</a>、<a href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ" title="FAQ (1262d)">FAQ</a>、<a href="http://www.kde.gr.jp/pukiwiki/index.php?Tips" title="Tips (2229d)">Tips</a>や、<a href="http://www.kde.gr.jp/pukiwiki/index.php?%B3%AB%C8%AF%BC%D4%B8%FE%A4%B1%A5%C9%A5%AD%A5%E5%A5%E1%A5%F3%A5%C8" title="開発者向けドキュメント (339d)">開発に関するドキュメント</a>などを扱っています。</p>
<p>各ページの編集・新規ページの追加とも、自由に行ってください。
ただし、初めて"新規ページの作成"を行う際には、一度<a href="http://www.kde.gr.jp/pukiwiki/index.php?%BF%B7%B5%AC%A5%DA%A1%BC%A5%B8%C4%C9%B2%C3%A4%CE%A5%AC%A5%A4%A5%C9%A5%E9%A5%A4%A5%F3" title="新規ページ追加のガイドライン (2751d)">こちら</a>をご覧ください。
なお、このJKUG Wikiの運営については<a href="http://www.kde.gr.jp/pukiwiki/index.php?%B1%BF%B1%C4%A4%CB%A4%C4%A4%A4%A4%C6" title="運営について (2160d)">こちら</a>をご覧下さい。</p>
<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?%CB%DD%CC%F5%2F%B2%FE%C1%B1%B0%C62010%C7%AF9%B7%EE" title="翻訳/改善案2010年9月 (958d)">現在翻訳のプロセスに関する意見を求めています。</a></p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h2 id="content_1_1">メニュー  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FrontPage#n83e4234" id="n83e4234" title="n83e4234">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?Announcements" title="Announcements (972d)">本家からのアナウンス</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A4%A5%F3%A5%B9%A5%C8%A1%BC%A5%EB%CA%FD%CB%A1" title="インストール方法 (43d)">インストール</a>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%D3%A5%EB%A5%C9%BB%FE%A4%CE%BA%C7%C5%AC%B2%BD" title="ビルド時の最適化 (1880d)">ビルド時の最適化</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct" title="Konstruct (1242d)">Konstructを用いたビルド方法</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct-JP" title="Konstruct-JP (2156d)">Konstruct-JP</a></li></ul></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A2%A5%D7%A5%EA%A5%B1%A1%BC%A5%B7%A5%E7%A5%F3%A4%CE%BE%D2%B2%F0" title="アプリケーションの紹介 (559d)">アプリケーション</a></li>
<li><span class="noexists">Version Info<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=Version%20Info&amp;refer=FrontPage">?</a></span></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ" title="FAQ (1262d)">FAQ</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?Tips" title="Tips (2229d)">Tips</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?bugs" title="bugs (2160d)">バグ投票</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%B3%AB%C8%AF%BC%D4%B8%FE%A4%B1%A5%C9%A5%AD%A5%E5%A5%E1%A5%F3%A5%C8" title="開発者向けドキュメント (339d)">開発ドキュメント</a>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%B3%AB%C8%AF%B4%C4%B6%AD%A4%CE%C0%B0%C8%F7" title="開発環境の整備 (2751d)">開発環境の整備</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%B2%BF%A4%AB%A4%E9%B3%D8%A4%D6%A4%AB" title="何から学ぶか (2751d)">何から学ぶか</a></li>
<li>チュートリアル
<ul class="list3" style="padding-left:16px;margin-left:16px"><li><span class="noexists">Qt Designer and KDevelop-3.0 for beginners<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=Qt%20Designer%20and%20KDevelop-3.0%20for%20beginners&amp;refer=FrontPage">?</a></span></li></ul></li></ul></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?TranslationAssignments" title="TranslationAssignments (89d)">TranslationAssignments</a> - <strong>翻訳に協力してくださる方を募集しています</strong></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%B4%D8%CF%A2%A5%EA%A5%F3%A5%AF%BD%B8" title="KDE関連リンク集 (622d)">KDE関連リンク集</a>
<div class="counter">
Counter:   284,
today:     1,
yesterday: 0
</div></li></ul>
