---
title: KDE 3.0 アーキテクチャ/システムリソースへのアクセス/標準のリソース - 旧 Wiki アーカイブ
layout: archive
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3" title="KDE 3.0 アーキテクチャ (461d)">KDE 3.0 アーキテクチャ</a></p>
<p>オリジナル : <a href="http://developer.kde.org/documentation/library/kdeqt/kde3arch/resources.html" rel="nofollow">http://developer.kde.org/documentation/library/kdeqt/kde3arch/resources.html</a></p>
<hr class="full_hr"/>
<p><strong>標準リソースディレクトリへのアクセス</strong></p>
<p>KDEは、データが実際どこにあるのかということを気にしないで、アプリケーションがインストールしたファイルにアクセスするためのいくつかの方法を提供しています。<br/>
またKDEはユーザー(ほとんどの場合は管理者ですが)が適切と思う場所にファイルを移動するのを許可する為に、異なるサーチパスが割り当てられている異なるリソースタイプのリストを提供しています。</p>
<p>実行ファイルを探すためのPATH環境変数やman pageを探すためのMANPATH環境変数の事を訊いたことが有るでしょう。<br/>
でもmanにPATHの中でmanpageを探すようには期待しないでしょう。</p>
<p>この概念に似たような感じで、KDEは、特定のリソースのためにパスを加えることをシンプルにするために、サーチパスを区別しています。<br/>
これによって他のリソースを探して不必要に遅くなったり、すべてのものをひとつのディレクトリに入れる必要が無くなります。</p>
<p>KDEが提供しているリソースのタイプは、</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>apps - アプリケーションメニュー(.desktop files)</li>
<li>cgi - khelpcenterから実行されるcgi</li>
<li>config - 設定ファイル</li>
<li>data - アプリケーションがどこにデータを保持しているか</li>
<li>exe - KDEの為にインストールされた実行ファイル</li>
<li>html - HTML文書</li>
<li>icon - ウィンドウマネージャーやパネルに表示されるアイコン</li>
<li>lib - dlopenされるライブラリ</li>
<li>locale - KLocaleの為の翻訳ファイル</li>
<li>mime - mime types</li>
<li>sound - application sounds</li>
<li>toolbar - toolbar pictures</li>
<li>wallpaper - 壁紙</li></ul>
<p>KDEのための開発ツール(例えば<a href="http://www.kde.gr.jp/pukiwiki/index.php?KDevelop" title="KDevelop (413d)">KDevelop</a>)によって作られたconfigureが生成したMakefileのaliasにもこれらすべてが存在しています。</p>
<hr class="full_hr"/>
<p><strong>K<span class="noexists">StandardDirs<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandardDirs&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span></strong></p>
<p>基本的なサービスを提供するので、このクラスは<a href="http://www.kde.gr.jp/pukiwiki/index.php?kdelibs" title="kdelibs (3558d)">kdelibs</a>の中でも最も中心的なクラスです。<br/>
このクラスはユーザーのハードディスクのどこにファイルが有るのかを分かっています。ユーザとアプリケーションの両者に対して出来る限り実際のファイルのありかをtransparentにするためです。</p>
<p>これによってアプリケーションからの全ての情報をカプセル化し、またアプリケーションは常にリソースタイプ(例:apps)やファイルネーム(例:Home.desktop)でファイルにアクセスします。<br/>
理想的なのは、アプリケーションが、ファイルがどこにあるのかを配慮せず、この能力を用いるために作業をK<span class="noexists">StandardDirs<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandardDirs&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span>::findResource("apps", "Home.desktop")に任せることです。</p>
<p>K<span class="noexists">StandartDir<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandartDir&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span>の主要な考えは、ファイルの前につくプレフィックスはいくつかあるということです。</p>
<p>プレフィックスとは、例えばユーザーがkdelibsをインストールした場所であったり、アプリケーションがインストールされた場所であったり、$HOME/.kdeであったりします。実際にはもっとあるでしょう。<br/>
こういったプレフィックスの後には、特定のリソースタイプがみつかるであろうサフィックスがよく定義されます。
例えばツールバーアイコンならば share/toolbarやshare/apps/&lt;appname&gt;/picsでしょう。</p>
<p>だから、ファイルを探すためのアルゴリズムは基本的には指定されたサフィックスにプレフィックスをつなげて、ファイルがあるかどうかを調べるということです。<br/>
複雑な事を言うと、前述のステップを踏むことなくK<span class="noexists">StandardDir<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandardDir&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span>が調べるための絶対パスも登録できます。<br/>
これはユーザーが例えば$HOME/.kde以外のディレクトリにアイコンを置く等、特定のディレクトリにファイルをおきたい場合に有功です。</p>
<hr class="full_hr"/>
<p><strong>On the usage of locate and locateLocal</strong></p>
<p>locateとlocateLocalは、両方ともK<span class="noexists">StandartDir<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandartDir&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span>を出来る限りシンプルに活用するために便利な機能です。<br/>
もちろんこれを使わずにK<span class="noexists">StandartDir<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StandartDir&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9">?</a></span>のパワーを充分に用いることもできます。</p>
<p>通常のKDEアプリケーションは次の3つの内、どれか1つの方法を用いてリソースファイルをしようします。</p>
<p>1
この場合、リソースファイルは読み込み専用です。<br/>
システムではデフォルトの設定を提供しますが、ユーザーは.kdeディレクトリでこのデフォルトを上書きできます。</p>
<pre>    // Code example
    myFile = locate("appdata", "groups.lst")
    myData = myReadGroups(myFile);</pre>
<p>2
この場合リソースファイルは読み込みも書き込みもできます。<br/>
ユーザーが指定しない場合、システムのデフォルトが用いられます。<br/>
この時、リソースファイルは常に.kdeディレクトリに書き込まれます。</p>
<pre>  // Code example
  myFile = locate("appdata", "groups.lst")
  myData = myReadGroups(myFile);
  ...
  doSomething(myData);
  ...
  myFile = locateLocal("appdata", "groups.lst");
  myWriteGroups(myFile, myData);</pre>
<p>3
上と同じですが、システムのデフォルトは使われません。</p>
<pre>  // Code example
  myFile = locateLocal("appdata", "groups.lst");
  myData =  myReadGroups(myFile);
  ...
  doSomething(myData);
  ...
  myFile = locateLocal("appdata", "groups.lst");
  myWriteGroups(myFile, myData);</pre>
