---
title: 日本 KDE ユーザ会
layout: default
---

<link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}">

<img src="/assets/img/teaser.jpg" class="teaser" decoding="async">

<main class="navfix container" aria-label="Content">
  <p>
    日本 KDE ユーザ会 (JKUG: Japan KDE Users' Group) は、主に KDE/Qt のローカライズや、日本における
    KDE のプロモーションなどを行っています。
  </p>

  <h2>質問したい、話したい</h2>
  <p>
    <a href="/community/whatiskdejp/communicate/">フォーラム・ML・チャット</a>
  </p>

  <h2>活動に参加したい</h2>
  <p>
    <a href="/community/getinvolved/translation/">ソフトウェアの翻訳の情報</a>
  </p>
</main>
