---
layout: jkug
---

<link rel="stylesheet" href="/css/archive.css">

<div class="archive__warning">
  <div class="archive__warning-sign">!</div>
  <p class="archive__warning-message">
    このページは10年以上前の非常に古いものであり、歴史的資料保存を目的として維持しています。<br>
    現在の状況とは大きく異なる場合がありますので、原則として参考にはしないで下さい。
  </p>
</div>

{{ content }}
